{{> header}}
{{> navbar}}

<div class="titulo">
<main>

        <h1>Mis 4 Pintores Favoritos</h1>
        <br>
        <h1>Jesús Alejandro Torres Ramírez</h1>
        <br>
        <h1>4E</h1>

</main>
</div>

{{> footer}}